# Development Notebook

## Setup

In [1]:
%load_ext autoreload
%autoreload 2

%cd ..

/Users/wyattwalsh/Documents/Projects/nba-db

In [2]:
import sqlalchemy
conn_str = "sqlite:///nba/nba.sqlite"
sqlalchemy.create_engine(conn_str)
%load_ext sql
%sql $conn_str

In [16]:
from dotenv import load_dotenv
load_dotenv()

True

In [14]:
from nba_db.extract import get_players, get_teams, get_league_game_log_all
from nba_db.utils import get_db_conn, get_proxies, dump_db, upload_new_db_version
from nba_db.extract import (
    get_player_info, 
    get_teams_details, 
    get_box_score_summaries, 
    get_play_by_play, 
    get_draft_combine_stats,
    get_draft_history,
    get_team_info_common
)


import os

import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# os.mkdir("basketball")

## Development

In [4]:
conn = get_db_conn()
conn

2023-02-28 23:23:39-INFO-nba_db_logger::utils|get_db_conn-57:: Connecting to database...
2023-02-28 23:23:39-INFO-nba_db_logger::utils|get_db_conn-60:: Connected to database. Returning connection object...

In [5]:
proxies = get_proxies()

2023-02-28 23:23:40-INFO-nba_db_logger::utils|get_proxies-43:: Retrieving proxies...
2023-02-28 23:23:40-INFO-nba_db_logger::utils|get_proxies-48:: Found 3523 proxies. Checking proxies...
2023-02-28 23:25:19-INFO-nba_db_logger::utils|get_proxies-52:: Found 702 valid proxies. Returning proxies...

In [ ]:
get_players(True, conn);

In [ ]:
get_teams(True, conn);

In [ ]:
get_league_game_log_all(proxies, conn);

In [6]:
%%sql 
select count(*) from (select distinct game_id from game) as games

 * sqlite:///nba/nba.sqlite
Done.

[(62266,)]

In [7]:
get_player_info(proxies, True, conn);

2023-02-27 07:49:19-INFO-backetball_db_logger::extract|get_player_info-196:: Successfully retrieved common player info for all players.

In [8]:
get_teams_details(proxies, True, conn);

In [7]:
game_ids = pd.read_sql("SELECT game_id FROM game", conn).game_id.to_list()
# get_box_score_summaries(game_ids, proxies, True, conn);

In [8]:
get_play_by_play(game_ids, proxies, True, conn);

In [9]:
%%sql 
select count(*) from (select distinct game_id from play_by_play) as games

 * sqlite:///nba/nba.sqlite
Done.

[(28998,)]

In [6]:
get_draft_combine_stats(proxies, None, True, conn);

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2000,2124,Malik,Allen,Malik Allen,PF-C,80.25,6' 8.25'',NaN,None,271,86.50,7' 2.5'',109.0,9' 1'',NaN,NaN,NaN,25.5,29.0,11.83,NaN,3.38,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,12019,Harold,Arceneaux,Harold Arceneaux,SG-SF,76.50,6' 4.5'',NaN,None,219,80.50,6' 8.5'',103.0,8' 7'',NaN,NaN,NaN,NaN,29.0,13.80,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,12020,Lamont,Barnes,Lamont Barnes,PF-C,80.50,6' 8.5'',NaN,None,235.5,87.50,7' 3.5'',108.0,9' 0'',NaN,NaN,NaN,28.0,29.5,12.30,NaN,3.40,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,12131,Mario,Bland,Mario Bland,PF,77.50,6' 5.5'',NaN,None,287,84.00,7' 0'',103.0,8' 7'',NaN,NaN,NaN,27.0,31.0,13.04,NaN,3.47,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,2056,Primoz,Brezec,Primoz Brezec,C,84.75,7' 0.75'',NaN,None,243,86.00,7' 2'',110.0,9' 2'',NaN,NaN,NaN,26.0,29.5,11.53,NaN,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,2022,1630652,Trevion,Williams,Trevion Williams,C,79.25,6' 7.25'',80.75,6' 8.75'',264.60,86.75,7' 2.75'',108.5,9' 0.50'',10.8,9.0,10.25,27.5,30.0,12.75,3.46,3.48,NaN,None,None,None,None,None,7-25,None,None,None,None,None,None,None,None,None,None,None,None,14-30,None,None,None,11-25
1409,2022,1631258,Bryson,Williams,Bryson Williams,PF-C,NaN,None,NaN,None,None,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1410,2022,1631109,Mark,Williams,Mark Williams,C,84.00,7' 0.00'',86.00,7' 2.00'',242.40,90.50,7' 6.50'',117.0,9' 9.00'',5.4,9.0,9.75,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1411,2022,1630592,Jalen,Wilson,Jalen Wilson,SF-PF,NaN,None,NaN,None,None,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1412,2022,1630855,Fanbo,Zeng,Fanbo Zeng,SF-PF,NaN,None,NaN,None,None,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [8]:
get_draft_history(proxies, None, True, conn);

In [10]:
get_team_info_common(proxies, True, conn);

In [12]:
dump_db(conn);

2023-02-28 23:34:29-INFO-nba_db_logger::utils|dump_db-82:: Dumping 16 database tables to csv files...
2023-02-28 23:45:56-INFO-nba_db_logger::utils|dump_db-86:: Dumped database tables to csv files.

In [17]:
upload_new_db_version("new v2")

2023-02-28 23:50:05-INFO-nba_db_logger::utils|upload_new_db_version-70:: Uploading new database version...
Starting upload for file nba.sqlite

 26%|██▋       | 570M/2.12G [10:36<27:01, 1.03MB/s]   2023-03-01 00:07:58,229 WARNING Retrying (Retry(total=9, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:2393)'))': /upload/storage/v1/b/kaggle-data-sets/o?uploadType=resumable&upload_id=ADPycdtScph-M-EMevz7Fxt5TFjBvkgWVpDhn8IeIpeQ09FHHAUk0aZfHa9_mcXziOW1u4UdEL2958ixAemVuDANs4pR
2.67GB [58:00, 824kB/s]

Upload successful: nba.sqlite (2GB)
Starting upload for file csv.zip

100%|██████████| 252M/252M [04:38<00:00, 950kB/s]

Upload successful: csv.zip (252MB)
Dataset version is being created. Please check progress at https://www.kaggle.com/wyattowalsh/basketball
2023-03-01 00:53:20-INFO-nba_db_logger::utils|upload_new_db_version-77:: Uploaded new database version.

In [19]:
%autoreload

In [22]:
from datetime import datetime

Timestamp('2023-03-05 00:00:00')

In [19]:
latest_db_date = pd.read_sql("SELECT MAX(GAME_DATE) FROM game", conn).iloc[0, 0]

In [20]:
pd.to_datetime(latest_db_date)

Timestamp('2023-02-26 00:00:00')

In [27]:
if pd.to_datetime(latest_db_date) <= pd.to_datetime(datetime.today().date()):
    print("wah")

wah