In [1]:
%load_ext autoreload
%autoreload 2

%cd ..

/Users/wyattwalsh/Documents/Projects/basketball-db

In [2]:
from nba_api.stats.endpoints.teamdetails import TeamDetails
from nba_api.stats.endpoints.boxscoresummaryv2 import BoxScoreSummaryV2
from nba_api.stats.endpoints.commonplayerinfo import CommonPlayerInfo
from basketball_db.utils import get_proxies, combine_team_games, get_db_conn
import pandas as pd
from basketball_db.extract import get_box_score_summaries



import os
import sqlalchemy
import pandas as pd

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

conn_str = "sqlite:///basketball/basketball.sqlite"
sqlalchemy.create_engine(conn_str)

# os.mkdir("basketball")
%load_ext sql

%sql sqlite:///basketball/basketball.sqlite

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
conn = get_db_conn()
conn

In [5]:
from nba_api.stats.static import players, teams
from nba_api.stats.endpoints.leaguegamelog import LeagueGameLog
from nba_api.stats.endpoints.commonplayerinfo import CommonPlayerInfo
from multiprocessing import Pool
from nba_api.stats.endpoints.teamdetails import TeamDetails

import pandera as pa
from basketball_db.data import PlayerSchema, TeamSchema, LeagueGameLogSchema, CommonPlayerInfoSchema
from basketball_db.utils import check_proxy

In [ ]:
df = pd.read_sql('select * from game', conn)
df.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min_home,fgm_home,...,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,None,None,None,None,None,None,NaN,68,2,0
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,None,None,None,None,None,None,25.0,51,-5,0
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,None,None,None,None,None,None,NaN,53,-6,0
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,None,None,None,None,None,None,22.0,47,-16,0
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,None,None,None,None,None,None,NaN,50,17,0

In [94]:
df = %sql SELECT name FROM sqlite_schema WHERE type ='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:///basketball/basketball.sqlite
Done.

In [95]:
df

[('player',), ('team',), ('game',), ('team_details',), ('team_history',)]

In [32]:
pd.read_sql("SELECT name FROM sqlite_schema WHERE type ='table' AND name NOT LIKE 'sqlite_%';", conn)['name']

0          player
1            team
2            game
3    team_details
4    team_history
Name: name, dtype: object

In [97]:
df = LeagueGameLog(date_from_nullable=(pd.to_datetime(pd.read_sql("SELECT MAX(GAME_DATE) FROM game", conn).iloc[0,0])), timeout=3)

In [101]:
df.get_response()

'{"resource":"leaguegamelog","parameters":{"LeagueID":"00","Season":"2022-23","SeasonType":"Regular Season","PlayerOrTeam":"T","Counter":0,"Sorter":"DATE","Direction":"ASC","DateFrom":"2023-01-19 00:00:00","DateTo":null},"resultSets":[{"name":"LeagueGameLog","headers":["SEASON_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS","PLUS_MINUS","VIDEO_AVAILABLE"],"rowSet":[["22022",1610612755,"PHI","Philadelphia 76ers","0022200682","2023-01-19","PHI @ POR","W",240,41,81,0.506000,8,26,0.308000,15,19,0.789000,5,38,43,24,8,8,15,23,105,10,1],["22022",1610612757,"POR","Portland Trail Blazers","0022200682","2023-01-19","POR vs. PHI","L",240,32,85,0.376000,9,37,0.243000,22,29,0.759000,13,31,44,19,4,3,16,15,95,-10,1],["22022",1610612756,"PHX","Phoenix Suns","0022200681","2023-01-19","PHX vs. BKN","W",240,39,85,0.459000,11,28,0.393000,28,41,0.683000,12,37,49,30,4,3,16,23,117,5,1],["22022",1610612751,"BKN","Brooklyn Nets","0022200681","2023-01-19","BKN @ PHX","L",240,43,82,0.524000,11,26,0.423000,15,25,0.600000,2,32,34,27,10,6,13,34,112,-5,1],["22022",1610612741,"CHI","Chicago Bulls","0022200678","2023-01-19","CHI @ DET","W",240,50,92,0.543000,7,23,0.304000,19,21,0.905000,11,37,48,23,11,8,14,17,126,18,1],["22022",1610612765,"DET","Detroit Pistons","0022200678","2023-01-19","DET vs. CHI","L",240,39,97,0.402000,8,34,0.235000,22,27,0.815000,17,32,49,25,7,3,17,15,108,-18,1],["22022",1610612738,"BOS","Boston Celtics","0022200679","2023-01-19","BOS vs. GSW","W",265,43,108,0.398000,13,41,0.317000,22,30,0.733000,18,45,63,21,10,5,17,19,121,3,1],["22022",1610612744,"GSW","Golden State Warriors","0022200679","2023-01-19","GSW @ BOS","L",265,40,100,0.400000,18,52,0.346000,20,23,0.870000,8,39,47,28,10,7,16,26,118,-3,1],["22022",1610612761,"TOR","Toronto Raptors","0022200680","2023-01-19","TOR @ MIN","L",240,46,87,0.529000,14,28,0.500000,20,27,0.741000,8,30,38,26,8,6,16,19,126,-2,1],["22022",1610612750,"MIN","Minnesota Timberwolves","0022200680","2023-01-19","MIN vs. TOR","W",240,45,89,0.506000,17,40,0.425000,21,23,0.913000,8,29,37,31,12,5,15,20,128,2,1],["22022",1610612753,"ORL","Orlando Magic","0022200683","2023-01-20","ORL vs. NOP","W",240,39,75,0.520000,15,30,0.500000,30,34,0.882000,5,37,42,28,2,5,15,18,123,13,1],["22022",1610612740,"NOP","New Orleans Pelicans","0022200683","2023-01-20","NOP @ ORL","L",240,41,91,0.451000,10,35,0.286000,18,24,0.750000,11,28,39,29,9,5,11,21,110,-13,1],["22022",1610612737,"ATL","Atlanta Hawks","0022200684","2023-01-20","ATL vs. NYK","W",240,56,100,0.560000,13,34,0.382000,14,16,0.875000,14,25,39,27,6,4,7,16,139,15,1],["22022",1610612752,"NYK","New York Knicks","0022200684","2023-01-20","NYK @ ATL","L",240,49,83,0.590000,13,30,0.433000,13,17,0.765000,9,25,34,27,5,3,12,15,124,-15,1],["22022",1610612744,"GSW","Golden State Warriors","0022200685","2023-01-20","GSW @ CLE","W",240,42,86,0.488000,23,43,0.535000,13,19,0.684000,14,31,45,25,9,4,18,19,120,6,1],["22022",1610612739,"CLE","Cleveland Cavaliers","0022200685","2023-01-20","CLE vs. GSW","L",240,42,84,0.500000,14,33,0.424000,16,19,0.842000,10,25,35,24,7,8,15,15,114,-6,1],["22022",1610612742,"DAL","Dallas Mavericks","0022200686","2023-01-20","DAL vs. MIA","W",240,37,80,0.463000,18,38,0.474000,23,28,0.821000,10,27,37,21,7,1,10,22,115,25,1],["22022",1610612746,"LAC","LA Clippers","0022200687","2023-01-20","LAC @ SAS","W",240,51,81,0.630000,15,28,0.536000,14,20,0.700000,11,21,32,31,4,2,9,13,131,5,1],["22022",1610612759,"SAS","San Antonio Spurs","0022200687","2023-01-20","SAS vs. LAC","L",240,51,89,0.573000,14,26,0.538000,10,14,0.714000,12,22,34,34,3,1,7,15,126,-5,1],["22022",1610612748,"MIA","Miami Heat","0022200686","2023-01-20","MIA @ DAL","L",240,33,69,0.478000,4,20,0.200000,20,27,0.741000,5,34,39,15,3,1,16,22,90,-25,1],["22022",1610612762,"UTA","Utah Jazz","0022200689","2023-01-20","UTA vs. BKN","L",240,37,88,0.420000,16,39,0.410000,16,23,0.696000,13,33,46,24,6,1,11,18,106,-11,1],["22022",1610612751,"BKN","Brooklyn Nets","0022200689","2023-01-20","BKN @ UTA","W",240,43,80,0.538000,18,41,0.439000,13,20,0.650000,6,36,42,25,7,6,11,18,117,11,1],["22022",1610612743,"DEN","Denver Nuggets","0022200688","2023-01-20","DEN vs. IND","W",240,51,83,0.614000,14,28,0.500000,18,26,0.692000,12,26,38,38,16,4,18,28,134,23,1],["22022",1610612754,"IND","Indiana Pacers","0022200688","2023-01-20","IND @ DEN","L",240,37,83,0.446000,8,32,0.250000,29,37,0.784000,15,23,38,22,7,2,21,18,111,-23,1],["22022",1610612747,"LAL","Los Angeles Lakers","0022200690","2023-01-20","LAL vs. MEM",null,120,18,47,0.383000,7,23,0.304000,9,12,0.750000,0,20,20,10,5,6,4,9,52,-1,0],["22022",1610612758,"SAC","Sacramento Kings","0022200691","2023-01-20","SAC vs. OKC",null,120,27,56,0.482000,6,22,0.273000,14,16,0.875000,8,26,34,16,1,0,10,8,74,0,0],["22022",1610612760,"OKC","Oklahoma City Thunder","0022200691","2023-01-20","OKC @ SAC",null,120,29,58,0.500000,12,23,0.522000,4,5,0.800000,2,17,19,14,2,0,6,12,74,0,0],["22022",1610612763,"MEM","Memphis Grizzlies","0022200690","2023-01-20","MEM @ LAL",null,120,21,53,0.396000,4,15,0.267000,7,10,0.700000,10,24,34,15,1,4,8,10,53,1,0]]}]}'

In [43]:
from nba_api.stats.endpoints.leaguegamelog import LeagueGameLog

In [50]:
pd.read_sql("SELECT GAME_ID FROM game", conn)

          game_id
0      0024600001
1      0024600003
2      0024600002
3      0024600004
4      0024600005
...           ...
64287  0022200679
64288  0022200680
64289  0022200682
64290  0022200681
64291  0022200678

[64292 rows x 1 columns]

In [53]:
df['GAME_ID'].unique().tolist()

['0022200001',
 '0022200002',
 '0022200005',
 '0022200004',
 '0022200012',
 '0022200006',
 '0022200014',
 '0022200013',
 '0022200011',
 '0022200010',
 '0022200008',
 '0022200009',
 '0022200007',
 '0022200003',
 '0022200015',
 '0022200016',
 '0022200021',
 '0022200024',
 '0022200027',
 '0022200020',
 '0022200026',
 '0022200025',
 '0022200018',
 '0022200017',
 '0022200023',
 '0022200022',
 '0022200019',
 '0022200031',
 '0022200028',
 '0022200033',
 '0022200030',
 '0022200032',
 '0022200029',
 '0022200036',
 '0022200035',
 '0022200034',
 '0022200043',
 '0022200041',
 '0022200037',
 '0022200038',
 '0022200040',
 '0022200042',
 '0022200039',
 '0022200050',
 '0022200051',
 '0022200044',
 '0022200046',
 '0022200045',
 '0022200047',
 '0022200049',
 '0022200048',
 '0022200052',
 '0022200055',
 '0022200053',
 '0022200054',
 '0022200058',
 '0022200059',
 '0022200063',
 '0022200065',
 '0022200064',
 '0022200062',
 '0022200056',
 '0022200060',
 '0022200061',
 '0022200057',
 '0022200066',
 '0022200069',
 '0022200068',
 '0022200067',
 '0022200077',
 '0022200076',
 '0022200071',
 '0022200072',
 '0022200074',
 '0022200079',
 '0022200080',
 '0022200078',
 '0022200075',
 '0022200073',
 '0022200070',
 '0022200084',
 '0022200082',
 '0022200086',
 '0022200085',
 '0022200083',
 '0022200087',
 '0022200081',
 '0022200091',
 '0022200089',
 '0022200095',
 '0022200094',
 '0022200093',
 '0022200092',
 '0022200090',
 '0022200088',
 '0022200096',
 '0022200102',
 '0022200097',
 '0022200100',
 '0022200098',
 '0022200101',
 '0022200099',
 '0022200106',
 '0022200105',
 '0022200103',
 '0022200104',
 '0022200108',
 '0022200117',
 '0022200112',
 '0022200116',
 '0022200110',
 '0022200115',
 '0022200114',
 '0022200111',
 '0022200107',
 '0022200113',
 '0022200109',
 '0022200118',
 '0022200119',
 '0022200126',
 '0022200131',
 '0022200124',
 '0022200123',
 '0022200129',
 '0022200125',
 '0022200130',
 '0022200128',
 '0022200127',
 '0022200121',
 '0022200122',
 '0022200120',
 '0022200136',
 '0022200137',
 '0022200135',
 '0022200138',
 '0022200139',
 '0022200134',
 '0022200133',
 '0022200132',
 '0022200142',
 '0022200143',
 '0022200140',
 '0022200141',
 '0022200146',
 '0022200149',
 '0022200158',
 '0022200155',
 '0022200154',
 '0022200156',
 '0022200152',
 '0022200148',
 '0022200153',
 '0022200144',
 '0022200151',
 '0022200157',
 '0022200145',
 '0022200147',
 '0022200150',
 '0022200165',
 '0022200164',
 '0022200162',
 '0022200160',
 '0022200163',
 '0022200161',
 '0022200166',
 '0022200167',
 '0022200169',
 '0022200168',
 '0022200170',
 '0022200159',
 '0022200171',
 '0022200175',
 '0022200173',
 '0022200172',
 '0022200174',
 '0022200176',
 '0022200181',
 '0022200178',
 '0022200179',
 '0022200182',
 '0022200180',
 '0022200183',
 '0022200177',
 '0022200184',
 '0022200188',
 '0022200185',
 '0022200191',
 '0022200187',
 '0022200186',
 '0022200189',
 '0022200190',
 '0022200195',
 '0022200198',
 '0022200197',
 '0022200196',
 '0022200192',
 '0022200193',
 '0022200194',
 '0022200199',
 '0022200201',
 '0022200203',
 '0022200205',
 '0022200200',
 '0022200204',
 '0022200202',
 '0022200207',
 '0022200206',
 '0022200209',
 '0022200210',
 '0022200208',
 '0022200215',
 '0022200214',
 '0022200212',
 '0022200219',
 '0022200211',
 '0022200220',
 '0022200218',
 '0022200213',
 '0022200216',
 '0022200217',
 '0022200223',
 '0022200221',
 '0022200222',
 '0022200226',
 '0022200229',
 '0022200227',
 '0022200231',
 '0022200228',
 '0022200230',
 '0022200225',
 '0022200232',
 '0022200224',
 '0022200234',
 '0022200233',
 '0022200236',
 '0022200239',
 '0022200238',
 '0022200237',
 '0022200235',
 '0022200246',
 '0022200241',
 '0022200245',
 '0022200243',
 '0022200247',
 '0022200242',
 '0022200240',
 '0022200244',
 '0022200248',
 '0022200251',
 '0022200249',
 '0022200253',
 '0022200252',
 '0022200254',
 '0022200255',
 '0022200250',
 '0022200256',
 '0022200257',
 '0022200258',
 '0022200259',
 '0022200261',
 '0022200263',
 '0022200260',
 '0022200269',
 '0022200270',
 '0022200271',
 '0022200264',
 '0022200266',
 '0022200262',
 '0022200267',
 '0022200268',
 '0022200265',
 '0022200285',
 '0022200273',
 '0022200272',
 '0022200275',
 '0022200280',
 '0022200279',
 '0022200282',
 '0022200274',
 '0022200276',
 '0022200283',
 '0022200278',
 '0022200281',
 '0022200284',
 '0022200277',
 '0022200286',
 '0022200289',
 '0022200288',
 '0022200287',
 '0022200291',
 '0022200295',
 '0022200290',
 '0022200297',
 '0022200292',
 '0022200293',
 '0022200294',
 '0022200296',
 '0022200298',
 '0022200308',
 '0022200302',
 '0022200300',
 '0022200301',
 '0022200299',
 '0022200304',
 '0022200305',
 '0022200303',
 '0022200307',
 '0022200306',
 '0022200309',
 '0022200310',
 '0022200311',
 '0022200320',
 '0022200312',
 '0022200321',
 '0022200319',
 '0022200315',
 '0022200318',
 '0022200323',
 '0022200324',
 '0022200314',
 '0022200322',
 '0022200317',
 '0022200313',
 '0022200316',
 '0022200325',
 '0022200331',
 '0022200326',
 '0022200327',
 '0022200330',
 '0022200329',
 '0022200333',
 '0022200332',
 '0022200334',
 '0022200335',
 '0022200328',
 '0022200336',
 '0022200341',
 '0022200343',
 '0022200342',
 '0022200340',
 '0022200339',
 '0022200338',
 '0022200337',
 '0022200348',
 '0022200345',
 '0022200344',
 '0022200346',
 '0022200350',
 '0022200347',
 '0022200351',
 '0022200349',
 '0022200358',
 '0022200356',
 '0022200359',
 '0022200353',
 '0022200352',
 '0022200357',
 '0022200354',
 '0022200355',
 '0022200360',
 '0022200362',
 '0022200361',
 '0022200371',
 '0022200364',
 '0022200363',
 '0022200366',
 '0022200365',
 '0022200369',
 '0022200368',
 '0022200367',
 '0022200370',
 '0022200373',
 '0022200372',
 '0022200376',
 '0022200375',
 '0022200374',
 '0022200384',
 '0022200379',
 '0022200378',
 '0022200377',
 '0022200382',
 '0022200383',
 '0022200380',
 '0022200385',
 '0022200386',
 '0022200381',
 '0022200394',
 '0022200387',
 '0022200389',
 '0022200391',
 '0022200393',
 '0022200392',
 '0022200390',
 '0022200388',
 '0022200397',
 '0022200396',
 '0022200395',
 '0022200399',
 '0022200400',
 '0022200398',
 '0022200401',
 '0022200402',
 '0022200404',
 '0022200406',
 '0022200405',
 '0022200407',
 '0022200408',
 '0022200403',
 '0022200409',
 '0022200411',
 '0022200410',
 '0022200413',
 '0022200412',
 '0022200418',
 '0022200414',
 '0022200423',
 '0022200417',
 '0022200420',
 '0022200421',
 '0022200422',
 '0022200415',
 '0022200416',
 '0022200419',
 '0022200424',
 '0022200425',
 '0022200426',
 '0022200427',
 '0022200430',
 '0022200435',
 '0022200428',
 '0022200432',
 '0022200436',
 '0022200429',
 '0022200433',
 '0022200437',
 '0022200431',
 '0022200434',
 '0022200444',
 '0022200441',
 '0022200438',
 '0022200439',
 '0022200442',
 '0022200440',
 '0022200443',
 '0022200445',
 '0022200450',
 '0022200451',
 '0022200447',
 '0022200448',
 '0022200449',
 '0022200446',
 '0022200458',
 '0022200457',
 '0022200459',
 '0022200454',
 '0022200456',
 '0022200453',
 '0022200460',
 '0022200455',
 '0022200452',
 '0022200463',
 '0022200462',
 '0022200464',
 '0022200465',
 '0022200461',
 '0022200471',
 '0022200476',
 '0022200475',
 '0022200469',
 '0022200474',
 '0022200472',
 '0022200473',
 '0022200468',
 '0022200470',
 '0022200466',
 '0022200467',
 '0022200477',
 '0022200478',
 '0022200488',
 '0022200482',
 '0022200480',
 '0022200479',
 '0022200483',
 '0022200481',
 '0022200485',
 '0022200486',
 '0022200487',
 '0022200489',
 '0022200484',
 '0022200491',
 '0022200490',
 '0022200492',
 '0022200495',
 '0022200494',
 '0022200493',
 '0022200497',
 '0022200496',
 '0022200498',
 '0022200502',
 '0022200500',
 '0022200499',
 '0022200504',
 '0022200503',
 '0022200501',
 '0022200507',
 '0022200512',
 '0022200510',
 '0022200506',
 '0022200505',
 '0022200508',
 '0022200511',
 '0022200514',
 '0022200513',
 '0022200509',
 '0022200518',
 '0022200515',
 '0022200521',
 '0022200522',
 '0022200519',
 '0022200520',
 '0022200516',
 '0022200517',
 '0022200526',
 '0022200525',
 '0022200527',
 '0022200523',
 '0022200528',
 '0022200524',
 '0022200531',
 '0022200532',
 '0022200529',
 '0022200534',
 '0022200537',
 '0022200533',
 '0022200535',
 '0022200536',
 '0022200530',
 '0022200545',
 '0022200546',
 '0022200544',
 '0022200539',
 '0022200543',
 '0022200541',
 '0022200542',
 '0022200540',
 '0022200538',
 '0022200548',
 '0022200549',
 '0022200547',
 '0022200558',
 '0022200556',
 '0022200555',
 '0022200557',
 '0022200552',
 '0022200553',
 '0022200551',
 '0022200554',
 '0022200560',
 '0022200550',
 '0022200559',
 '0022200561',
 '0022200562',
 '0022200563',
 '0022200574',
 '0022200573',
 '0022200575',
 '0022200571',
 '0022200566',
 '0022200570',
 '0022200569',
 '0022200572',
 '0022200568',
 '0022200564',
 '0022200565',
 '0022200567',
 '0022200577',
 '0022200576',
 '0022200579',
 '0022200578',
 '0022200581',
 '0022200580',
 '0022200582',
 '0022200586',
 '0022200585',
 '0022200589',
 '0022200584',
 '0022200583',
 '0022200588',
 '0022200587',
 '0022200590',
 '0022200593',
 '0022200592',
 '0022200594',
 '0022200595',
 '0022200591',
 '0022200599',
 '0022200601',
 '0022200602',
 '0022200600',
 '0022200596',
 '0022200597',
 '0022200603',
 '0022200598',
 '0022200604',
 '0022200610',
 '0022200609',
 '0022200608',
 '0022200607',
 '0022200605',
 '0022200606',
 '0022200611',
 '0022200613',
 '0022200612',
 '0022200615',
 '0022200617',
 '0022200616',
 '0022200614',
 '0022200619',
 '0022200618',
 '0022200621',
 '0022200622',
 '0022200625',
 '0022200624',
 '0022200620',
 '0022200623',
 '0022200630',
 '0022200631',
 '0022200627',
 '0022200629',
 '0022200628',
 '0022200626',
 '0022200632',
 '0022200638',
 '0022200637',
 '0022200634',
 '0022200633',
 '0022200635',
 '0022200640',
 '0022200639',
 '0022200636',
 '0022200645',
 '0022200647',
 '0022200646',
 '0022200644',
 '0022200643',
 '0022200641',
 '0022200642',
 '0022200650',
 '0022200651',
 '0022200649',
 '0022200655',
 '0022200648',
 '0022200652',
 '0022200653',
 '0022200654',
 '0022200658',
 '0022200662',
 '0022200663',
 '0022200661',
 '0022200660',
 '0022200659',
 '0022200664',
 '0022200657',
 '0022200656',
 '0022200668',
 '0022200665',
 '0022200666',
 '0022200667',
 '0022200677',
 '0022200676',
 '0022200675',
 '0022200674',
 '0022200671',
 '0022200673',
 '0022200672',
 '0022200670',
 '0022200669',
 '0022200679',
 '0022200680',
 '0022200682',
 '0022200681',
 '0022200678']

In [90]:
from basketball_db.utils import dump_db, upload_new_db_version

In [57]:
dump_db(conn)

In [91]:
upload_new_db_version("new update")

Starting upload for file csv.zip

100%|██████████| 3.38M/3.38M [00:06<00:00, 542kB/s]
  0%|          | 0.00/15.9M [00:00<?, ?B/s]

Upload successful: csv.zip (3MB)
Starting upload for file basketball.sqlite

100%|██████████| 15.9M/15.9M [00:22<00:00, 742kB/s]

Upload successful: basketball.sqlite (16MB)
Dataset version is being created. Please check progress at https://www.kaggle.com/wyattowalsh/basketball

In [61]:
from dotenv import load_dotenv

load_dotenv()

True

In [66]:
!kaggle datasets init -p basketball

Data package template written to: basketball/dataset-metadata.json

In [67]:
import json

In [71]:
d = {"description": """
<blockquote><h4>Welcome to the <i><b>NBA Database</b></i>! 👋 🏀 </h4></blockquote>

This [**SQLite**](https://www.sqlite.org/index.html) database is updated daily and includes:

- **64,000+** games (every game since the inaugural 1946-47 NBA season)
    - Summaries, Box Scores, and Play-by-Play data
- **4800+** players
- **30** teams

<h6> ⮕ View additional project info <a href="https://github.com/wyattowalsh/basketball-db">on GitHub <img src="https://gist.githubusercontent.com/wyattowalsh/33b635109116e07044c6336527681051/raw/6b24b749532f4e167657fcc014a310b8c4bfa661/github.svg"></a></h6>

---

<h5>Built With:</h5>
 
<a href="https://www.kaggle.com/docs" target="_blank"><img alt="Kaggle" src="https://img.shields.io/badge/kaggle-%2320BEFF.svg?&style=for-the-badge&logo=kaggle&logoColor=white"></a><a href="https://docs.github.com/en" target="_blank"><img alt="GitHub" src="https://img.shields.io/badge/github-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white"></a><a href="https://docs.python.org/3/" target="_blank"><img alt="Python" src="https://img.shields.io/badge/python%20-%2314354C.svg?&style=for-the-badge&logo=python&logoColor=white"></a><a href="https://sqlite.org/docs.html" target="_blank"><img alt="SQLite" src="https://img.shields.io/badge/sqlite%20-%23003B57.svg?&style=for-the-badge&logo=sqlite&logoColor=white"></a> <img src="https://raw.githubusercontent.com/wyattowalsh/basketball-db/main/utils/img/logo.svg">
"""}

In [72]:
json.dumps(d)

'{"description": "\\n<blockquote><h4>Welcome to the <i><b>NBA Database</b></i>! \\ud83d\\udc4b \\ud83c\\udfc0 </h4></blockquote>\\n\\nThis [**SQLite**](https://www.sqlite.org/index.html) database is updated daily and includes:\\n\\n- **64,000+** games (every game since the inaugural 1946-47 NBA season)\\n    - Summaries, Box Scores, and Play-by-Play data\\n- **4800+** players\\n- **30** teams\\n\\n<h6> \\u2b95 View additional project info <a href=\\"https://github.com/wyattowalsh/basketball-db\\">on GitHub <img src=\\"https://gist.githubusercontent.com/wyattowalsh/33b635109116e07044c6336527681051/raw/6b24b749532f4e167657fcc014a310b8c4bfa661/github.svg\\"></a></h6>\\n\\n---\\n\\n<h5>Built With:</h5>\\n \\n<a href=\\"https://www.kaggle.com/docs\\" target=\\"_blank\\"><img alt=\\"Kaggle\\" src=\\"https://img.shields.io/badge/kaggle-%2320BEFF.svg?&style=for-the-badge&logo=kaggle&logoColor=white\\"></a><a href=\\"https://docs.github.com/en\\" target=\\"_blank\\"><img alt=\\"GitHub\\" src=\\"https://img.shields.io/badge/github-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white\\"></a><a href=\\"https://docs.python.org/3/\\" target=\\"_blank\\"><img alt=\\"Python\\" src=\\"https://img.shields.io/badge/python%20-%2314354C.svg?&style=for-the-badge&logo=python&logoColor=white\\"></a><a href=\\"https://sqlite.org/docs.html\\" target=\\"_blank\\"><img alt=\\"SQLite\\" src=\\"https://img.shields.io/badge/sqlite%20-%23003B57.svg?&style=for-the-badge&logo=sqlite&logoColor=white\\"></a> <img src=\\"https://raw.githubusercontent.com/wyattowalsh/basketball-db/main/utils/img/logo.svg\\">\\n"}'

In [82]:
%cd ..

/Users/wyattwalsh/Documents/Projects/basketball-db

In [92]:
import multiprocessing

In [93]:
multiprocessing.cpu_count()

8

In [114]:
%pwd

'/Users/wyattwalsh/Documents/Projects/basketball-db'

In [164]:
from nba_api.stats.endpoints.playergamelogs import PlayerGameLogs

In [165]:
res = PlayerGameLogs(player_id_nullable="203500").get_data_frames()
column_types = {
    "PLAYER_ID": "category",
    "TEAM_ID": 'category',
    "VIDEO_AVAILABLE_FLAG": 'category'
}

In [168]:
res[0].head()

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,VIDEO_AVAILABLE_FLAG
0,2016-17,203500,Steven Adams,Steven,1610612760,OKC,Oklahoma City Thunder,0021601225,2017-04-12T00:00:00,OKC vs. DEN,L,13.533333,4,7,0.571,0,0,0.0,0,0,0.000,2,2,4,0,1,2,0,1,2,1,8,-7,17.8,0,0,16.0,1,48,48,48,79,38,41,41,1,2,1,63,67,63,56,65,70,54,44,8,48,49,23,70,55,58,68,17,1,67,1
1,2016-17,203500,Steven Adams,Steven,1610612760,OKC,Oklahoma City Thunder,0021601213,2017-04-11T00:00:00,OKC @ MIN,W,29.750000,5,6,0.833,0,0,0.0,0,0,0.000,6,3,9,1,4,2,2,0,2,0,10,-2,30.3,0,0,28.0,1,1,1,1,38,30,55,7,1,2,1,63,67,63,9,50,27,26,2,8,6,1,23,77,45,52,23,17,1,21,1
2,2016-17,203500,Steven Adams,Steven,1610612760,OKC,Oklahoma City Thunder,0021601198,2017-04-09T00:00:00,OKC @ DEN,W,26.600000,4,9,0.444,0,0,0.0,2,2,1.000,6,4,10,2,1,1,0,0,4,2,10,8,27.0,1,0,24.0,1,1,1,1,64,38,28,58,1,2,1,23,43,1,9,30,16,8,44,25,48,1,63,56,45,26,37,1,1,35,1
3,2016-17,203500,Steven Adams,Steven,1610612760,OKC,Oklahoma City Thunder,0021601186,2017-04-07T00:00:00,OKC @ PHX,L,32.766667,4,10,0.400,0,0,0.0,4,6,0.667,8,3,11,2,0,0,0,0,2,4,12,-13,28.2,1,0,25.0,1,48,48,48,22,38,19,66,1,2,1,8,6,30,5,50,9,8,69,58,48,1,23,20,32,71,32,1,1,33,1
4,2016-17,203500,Steven Adams,Steven,1610612760,OKC,Oklahoma City Thunder,0021601167,2017-04-05T00:00:00,OKC @ MEM,W,33.016667,2,8,0.250,0,0,0.0,1,3,0.333,5,5,10,1,1,0,1,0,2,4,5,4,20.5,0,0,18.0,1,1,1,1,21,68,34,76,1,2,1,46,38,55,15,22,16,26,44,58,24,1,23,20,73,40,60,17,1,65,1

In [169]:
res[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 68 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SEASON_YEAR            80 non-null     object
 1   PLAYER_ID              80 non-null     int64
 2   PLAYER_NAME            80 non-null     object
 3   NICKNAME               80 non-null     object
 4   TEAM_ID                80 non-null     int64
 5   TEAM_ABBREVIATION      80 non-null     object
 6   TEAM_NAME              80 non-null     object
 7   GAME_ID                80 non-null     object
 8   GAME_DATE              80 non-null     object
 9   MATCHUP                80 non-null     object
 10  WL                     80 non-null     object
 11  MIN                    80 non-null     float64
 12  FGM                    80 non-null     int64
 13  FGA                    80 non-null     int64
 14  FG_PCT                 80 non-null     float64
 15  FG3M                   80 non-null     int64
 16  FG3A                   80 non-null     int64
 17  FG3_PCT                80 non-null     float64
 18  FTM                    80 non-null     int64
 19  FTA                    80 non-null     int64
 20  FT_PCT                 80 non-null     float64
 21  OREB                   80 non-null     int64
 22  DREB                   80 non-null     int64
 23  REB                    80 non-null     int64
 24  AST                    80 non-null     int64
 25  TOV                    80 non-null     int64
 26  STL                    80 non-null     int64
 27  BLK                    80 non-null     int64
 28  BLKA                   80 non-null     int64
 29  PF                     80 non-null     int64
 30  PFD                    80 non-null     int64
 31  PTS                    80 non-null     int64
 32  PLUS_MINUS             80 non-null     int64
 33  NBA_FANTASY_PTS        80 non-null     float64
 34  DD2                    80 non-null     int64
 35  TD3                    80 non-null     int64
 36  WNBA_FANTASY_PTS       80 non-null     float64
 37  GP_RANK                80 non-null     int64
 38  W_RANK                 80 non-null     int64
 39  L_RANK                 80 non-null     int64
 40  W_PCT_RANK             80 non-null     int64
 41  MIN_RANK               80 non-null     int64
 42  FGM_RANK               80 non-null     int64
 43  FGA_RANK               80 non-null     int64
 44  FG_PCT_RANK            80 non-null     int64
 45  FG3M_RANK              80 non-null     int64
 46  FG3A_RANK              80 non-null     int64
 47  FG3_PCT_RANK           80 non-null     int64
 48  FTM_RANK               80 non-null     int64
 49  FTA_RANK               80 non-null     int64
 50  FT_PCT_RANK            80 non-null     int64
 51  OREB_RANK              80 non-null     int64
 52  DREB_RANK              80 non-null     int64
 53  REB_RANK               80 non-null     int64
 54  AST_RANK               80 non-null     int64
 55  TOV_RANK               80 non-null     int64
 56  STL_RANK               80 non-null     int64
 57  BLK_RANK               80 non-null     int64
 58  BLKA_RANK              80 non-null     int64
 59  PF_RANK                80 non-null     int64
 60  PFD_RANK               80 non-null     int64
 61  PTS_RANK               80 non-null     int64
 62  PLUS_MINUS_RANK        80 non-null     int64
 63  NBA_FANTASY_PTS_RANK   80 non-null     int64
 64  DD2_RANK               80 non-null     int64
 65  TD3_RANK               80 non-null     int64
 66  WNBA_FANTASY_PTS_RANK  80 non-null     int64
 67  VIDEO_AVAILABLE_FLAG   80 non-null     int64
dtypes: float64(6), int64(53), object(9)
memory usage: 42.6+ KB

In [163]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TEAM_ID            1 non-null      int64
 1   SEASON_YEAR        1 non-null      object
 2   TEAM_CITY          1 non-null      object
 3   TEAM_NAME          1 non-null      object
 4   TEAM_ABBREVIATION  1 non-null      object
 5   TEAM_CONFERENCE    1 non-null      object
 6   TEAM_DIVISION      1 non-null      object
 7   TEAM_CODE          1 non-null      object
 8   TEAM_SLUG          1 non-null      object
 9   W                  1 non-null      int64
 10  L                  1 non-null      int64
 11  PCT                1 non-null      float64
 12  CONF_RANK          1 non-null      int64
 13  DIV_RANK           1 non-null      int64
 14  MIN_YEAR           1 non-null      object
 15  MAX_YEAR           1 non-null      object
 16  LEAGUE_ID          1 non-null      object
 17  SEASON_ID          1 non-null      object
 18  PTS_RANK           1 non-null      int64
 19  PTS_PG             1 non-null      float64
 20  REB_RANK           1 non-null      int64
 21  REB_PG             1 non-null      float64
 22  AST_RANK           1 non-null      int64
 23  AST_PG             1 non-null      float64
 24  OPP_PTS_RANK       1 non-null      int64
 25  OPP_PTS_PG         1 non-null      float64
dtypes: float64(5), int64(9), object(12)
memory usage: 216.0+ bytes